.container{
    padding:25px;
}
.header{
    display:flex;
    justify-content: space-between;
    background: slateblue;
    margin-bottom: 15px;
}
.logo{
    background: blue;
    width:100px;
    text-align: center;
    padding-top:20px;
}
.search-box{
    display:flex;
    justify-content: space-between;
    background: blue;
    width:200px;
    padding:20px;
}
.main{
    display:flex;
    justify-content: space-around;
    background: blue;
    height:200px;
    align-items: center;
    margin-bottom: 15px;
}
.title,
.description,
.send {
    background: rgb(135, 135, 201);
    padding:20px;
    width:25%;
    text-align: center;
}
.items{
    background: blue;
    height:400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:25px;
    padding:50px;
    margin-bottom: 15px;

}
.item{
    background: rgb(135, 135, 201);
}
.footer{
    background: blue;  
}
.footer-heading{
    display:Flex;
    justify-content: space-between;
    padding:30px;
    color:white;
    border:3px solid rgb(135, 135, 201);
}
