#navbarMenu{
    display:flex;
    justify-content: space-between;
}
#logo h1{
    text-align: center;
}
#menu-items{
    display: flex;
    text-align: center;
}
#menu-items-list{
    display: flex;
}
li{
    list-style-type: none;
    text-align: center;
    font-size: 24px;
    margin:5px;
}
i{
    font-size: 24px;
}
#menu-list {
    padding:5px;
}