* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    color: #2c6e3b;
}

#navbarMenu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #8ac74b;
}

#logoAndItems {
    display: flex;
    gap: 50px;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}
#list-item {
    margin-left: 10px;
}
#hamburger, #x{
    display: none;
    cursor: pointer;
}
#toggle{
    position: fixed;
    right: 15px;;

}
@media only screen and (max-width: 400px){
    #hamburger{
        display: block;
    }
    #items{
        display: none;
    }
}