*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:rgb(0, 18, 57);
}
.business-card{
    padding:10px;
}
.container-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
img{
    width:100%;
    height:100%;
}
.container-card-text{
    flex:1;
    background-color:rgb(3, 2, 15);
    color:White;

}
.container-card-image{
   flex:1;
}
.heading{
    margin-bottom:10px;
}
.heading span{
    color:rgb(170, 141, 198);
}
.card-statics{
    display:flex;
    justify-content: space-around;
}
h2{
    margin-bottom:15px;
}
.txt{
    margin-bottom:30px;
}
.card-statics{
    margin:25px 0px;
}
.card-statics-number{
    margin-bottom:5px;
}