*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: #0a0c1b;
}
.business-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-card{
    display:flex;
    width:800px;
}
.container-card-text{
    background-color: rgb(28,25,56);
    flex:1;
    color:#f8faf9;
    padding:25px;
}
.container-card-image{
    flex:1;
}
img{
     width:100%;
     height:100%;
    }
.heading span{
    color:rgb(151,93,193);
}
.txt{
    color:#9492aa;
    margin-bottom:15px;
}
.heading, .txt{
    margin-bottom:15px;
}
.card-statics{
    display:flex;
    gap:50px;
    padding-top:10px;
}