.container{
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    width:600px;
    padding:50px;
    background: rgb(0, 8, 255);
}
#arrow-left, #arrow-right{
    padding:10px;
    cursor: pointer;
}
img{
    width:300px;
}
i{
    color:white;
    background: rgb(121, 121, 188);
    padding:10px;
}